@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Share+Tech+Mono&display=swap');


/* font-family: 'Roboto Mono', monospace; */
/* font-family: 'Share Tech Mono', monospace; */


body {
    font-family: 'Share Tech Mono', monospace;
    padding: 0;
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

h2 {
    text-transform: uppercase;
    text-align: center;
    padding-top: 30px;
    font-size: 2em;
}

a {
    text-decoration: none;
    color: white;
}

/* ************************NAV*************************** */

nav {
    overflow: hidden;
    background-color: #77c0db;
    position: fixed;
    width: 100%;
    opacity: 0.9;
}

header li {
    float: right;
    font-size: 1.2em;
}

header li a {
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 18px 16px;
}

#logo {
    font-family: 'Share Tech Mono', monospace;
    font-weight: bold;
    float: left;
}

/* ***********************IMAGE PINCIPALE******************** */

#imagePrincipale {
    padding-top: 60px;
    background: url(media/background.jpg) no-repeat fixed 50% 50%;
    background-size: cover;
    height: 799px;
}

h1 {
    font-family: 'Share Tech Mono', monospace;
    text-align: center;
    color: #77c0db;
    font-size: 6em;
    margin-top: 230px;
    text-shadow: 20px 20px 20px black;
}

#premierTrait {
    height: 1px;
    width: 25%;
    margin: -3px auto;
    background-color: #77c0db;
    box-shadow: 20px 20px 20px black;
}

h3 {
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    color: #77c0db;
    font-size: 3em;
    text-shadow: 20px 20px 20px black;
}

/* ********************PRESNETATION*************** */

#presentation {
    background-color:#d3ebf2;
    padding: 10px 0px 100px 0;
}
#texteIntro {
    padding: 1px, 100%;
}

#texteIntro h2{
    color: #77c0db;
}

#presentation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px 10%;
}
.imagesPresentation h4 {
    font-family: 'Share Tech Mono', monospace;
    text-align: center;
    font-size: 1.8em;
    margin: 15px;
    font-weight: 300;
    color: #77c0db;
}

.imagesPresentation iframe {
    border-radius: 20px;
}

.imagesPresentation img {
    border-radius: 10px;
}
.imagesPresentation img:hover {
    opacity: 0.5;
    transform: scale(1.05);
    transition: 0.8s ease-in-out;
}

/* *******************service******************** */

#NosServices {
    height: 1400px;
    background-color: white;
    padding: 1px 2%;
}

#NosServices h2 {
    padding-top: 60px;
}

#qualité {
    background: url(media/quality.jpg);
}

#controle {
    background: url(media/control.jpg);
}

#sav {
    background: url(media/sav.jpg);
}

#suivi {
    background: url(media/help.jpg);
}

#NosServices li {
    margin: 65px 100px 0 100px;
    height: 226px;
    width: 55%;
    max-width: 550px;
    float: left;
    box-shadow: 6px 6px 28px -1px black;
}

#NosServices p {
    height: 45px;
    width: 235px;
    background-color: #77c0db;
    float: right;
    margin: 50px -180px 0 0;
    font-size: 1.5em;
    text-align: center;
    padding-top: 15px;
    box-shadow: 4px 4px 0 1px #77c0db;

}